{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{% static 'css/theme.css' %}" type="text/css"> </head>

<body>
  <div class="py-5 text-white opaque-overlay bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <h1 class="text-gray-dark">Register Relawan</h1>
          <p class="lead mb-4">Complete all the fields below to register</p>
          <form class="" method="post" action="https://formspree.io/">
            <div class="form-group">
              <label>Nama</label>
              <input type="text" name="nama" class="form-control" required="required"> </div>
            <div class="form-group">
              <label class="">Email</label>
              <input type="email" name="email" class="form-control" required="required"> </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" name="password" class="form-control" required="required"> </div>
            <div class="form-group">
              <label>Kecamatan</label>
              <input type="text" name="kecamatan" class="form-control" required="required"> </div>
            <div class="form-group">
              <label>Kabupaten</label>
              <input type="text" class="form-control" name="kabupaten" required="required"> </div>
            <div class="form-group">
              <label>Provinsi</label>
              <input type="text" name="provinsi" class="form-control" required="required"> </div>
            <div class="form-group">
              <label>Kode Pos</label>
              <input type="text" name="kodepos" class="form-control" required="required"> </div>
            <div class="form-group">
              <label>Jalan/Desa/Kelurahan/No. Rumah</label>
              <input type="text" name="jalandesa" class="form-control" required="required"> </div>
            <div class="form-group">
              <label>Tanggal Lahir</label>
              <input type="date" name="tanggallahir" class="form-control" required="required"> </div>
            <div class="form-group">
              <label>Nomor Handphone</label>
              <input type="number" class="form-control" name="handphone" required="required"> </div>
            <div class="form-group">
              <label>Keahlian yang Dimiliki</label>
              <input type="text" class="form-control" name="keahlian" required="required"> </div>
            <button type="submit" class="btn btn-dark">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
