{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{% static 'css/theme.css' %}" type="text/css"> </head>

<body>
  <div class="py-5 text-center bg-gradient" style="height: 100%;background-position:center;background-size:cover;background-repeat:no-repeat;"">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12">
          <h1 class="mb-4 text-white display-1">SION</h1>
          <h1 contenteditable="true">Sistem Informasi Organisasi Nirlaba</h1>
          <a href="{% url 'Sion-Controller:login' %}" class="btn btn-lg mx-1 btn-secondary">Log in</a>
          <p class="">
            <br>OR</p>
          <div class="btn-group">
            <button class="btn dropdown-toggle btn-outline-light" data-toggle="dropdown"> Register</button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'Sion-Controller:register-relawan' %}">Relawan</a>
              <a class="dropdown-item" href="{% url 'Sion-Controller:register-donatur' %}">Donatur</a>
              <a class="dropdown-item" href="{% url 'Sion-Controller:register-sponsor' %}">Sponsor</a>
              <a class="dropdown-item" href="{% url 'Sion-Controller:register-organisasi' %}">Organisasi</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
