{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{% static 'css/theme.css' %}" type="text/css"> </head>

<body>
  <div class="py-5 bg-light" style="height: 100%;background-position:center;background-size:cover;background-repeat:no-repeat;background-image:url('{%static 'helpothers.jpeg' %}');">
    <div class="container">
      <div class="row">
        <div class="align-self-center col-md-6 text-white">
          <h3 class="display-1">SION</h3>
          <p class="lead">Sistem Informasi Organisasi Nirlaba</p>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body p-5">
              <form action="{% url 'Sion-Controller:auth_login' %}" method="POST">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Username" name="username" required="required"> </div>
                <div class="form-group">
                  <input type="password" class="form-control" name="password" placeholder="Password" required="required"> </div>
                <button type="submit" class="btn mt-2 btn-outline-success">Log in</button>
              </form>
              <div class="row">
                <div class="col-md-12">
                  <p class="lead">Tidak punya akun?
                    <br> </p>
                  <div class="btn-group">
                    <button class="btn dropdown-toggle btn-outline-success" data-toggle="dropdown"> Register</button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="{% url 'Sion-Controller:register-relawan' %}">Relawan</a>
                      <a class="dropdown-item" href="{% url 'Sion-Controller:register-donatur' %}">Donatur</a>
                      <a class="dropdown-item" href="{% url 'Sion-Controller:register-sponsor' %}">Sponsor</a>
                      <a class="dropdown-item" href="{% url 'Sion-Controller:register-organisasi' %}">Organisasi</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
