{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{% static 'css/theme.css' %}" type="text/css"> </head>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-green.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand" href="#">
          <b class="">&nbsp;SION<br> </b>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
          <ul class="navbar-nav">
            <a class="btn btn-primary" href="#">Pofile</a>
            <a class="btn btn-primary" href="#">Lihat Organisasi</a>
            <div class="btn-group">
              <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Kegiatan</button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Buat Kegiatan</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Lihat Kegiatan</a>
              </div>
            </div>
          </ul>
          <a class="btn navbar-btn ml-2 text-white btn-danger" href="{% url 'Sion-Controller:auth_logout' %}">
            <i class="fa d-inline fa-lg fa-user-circle-o"></i>&nbsp;Log Out</a>
        </div>
      </div>
    </nav>
  </header>

  <content style="color: black;">
    <div class="w3-container w3-content w3-round" style="margin-top: 50px; width: 600px;">
      <div class="w3-card w3-round w3-white">
          <div class="text-center">
            <div class="bg-primary">
              <h4 class="w3-center" style="margin-bottom: 20px; padding-top: 10px;">{{nama}}</h4>
              <div class="w3-theme-l4" style="height: 150px; padding-top: 30px;">
                <p><i class="fa fa-envelope fa-fw w3-margin-right w3-text-theme"></i>{{email}}</p>
                <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i>{{alamat}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </content>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script></body>
</html>